body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #eef2f3;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background: white;
  width: 380px;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
  text-align: center;
}

h1, h2, h3 {
  color: #2e8b57;
}

input {
  width: 90%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  margin-top: 20px;
  width: 95%;
  padding: 12px;
  background: #2e8b57;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #256d46;
}